.app-header {
  background-color: #009978;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* NavBar component css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-left {
  gap: 4em;
}

a {
  color: white;
  text-decoration: none;
}
