.logoTitle {
  display: flex;
  align-items: center;
  gap: 0.2em;
  height: 1em;
}

.title1 {
  /* position: relative; */
  /* font-family: "Arial"; */
  font-style: normal;
  font-weight: 700;
  /* font-size: 43.25px; */
  line-height: 34px;

  /* display: flex; */
  /* align-items: center; */

  color: #ffffff;

  /* width: 221.23px; */
  /* height: 42px; */
  /* left: 160px; */
}
.logo {
  /* position: absolute; */
  /* margin-left: 100.77px; */
  /* top: 40px; */
  width: 20%;
}
