.result-details-container .main-img img{
    width: 100%;
    max-height: 38vh;
}

.result-details-container .title{
    width: 100%;
}

.result-details-container .modele{
    font-weight: bold;
    margin-right: 10px;
    line-height: 28px;
}

.result-details-container .prix{
    color: gray;
    font-weight: 300;
    line-height: 35px;
}

.result-details-container .title{
    display: inline-flex;
    float: left;
}

.result-details-container 
    .car-door-icon, 
    .distance-icon{
    height: 24px;
    width: 24px;
    opacity: 40%;
}
.result-details-container .desc svg{
    opacity: 30%;
}

.result-details-container .desc-item{
    width: fit-content;
}

.result-details-container .circular-progress-score{
    width: 70px;
    height: 70;
    margin: 0 auto;
}

.result-details-container .CircularProgressbar-text{
    font-size: 2rem;
    font-weight: bold;
}
