.result-details-container .main-img img{
    width: 100%;
    max-height: 38vh;
    object-fit: cover;
}

.result-details-container .title{
    width: 100%;
}

.result-details-container .modele{
    font-weight: bold;
    margin-right: 10px;
    line-height: 28px;
}

.result-details-container .prix{
    color: gray;
    font-weight: 300;
    line-height: 35px;
}

.result-details-container .title{
    display: inline-flex;
    float: left;
}

.result-details-container 
    .car-door-icon, 
    .distance-icon{
    height: 20px;
    opacity: 40%;
    margin-right: 10px;
}
.result-details-container .custom-icon{
    height: 20px;
    margin-right: 10px;
}

.result-details-container .desc svg{
    opacity: 30%;
    vertical-align: bottom;
}

.result-details-container .desc-item{
    width: fit-content;
    display: flex;
    white-space: nowrap;
}

.result-details-container .desc-item .title{
    font-weight: bold;
    margin-right: 10px;
}

.result-details-container .desc-item p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.result-details-container .circular-progress-score{
    width: 70px;
    height: 70;
    margin: 0 auto;
}

 .CircularProgressbar-text{
    font-size: 2rem;
    font-weight: bold;
}

.result-details-container .eletric-infos-container{
    margin-bottom: 10px;
    /* outline: 2px solid rgb(100,149,237); */
    border-radius: 4px;
}

.result-details-container .gas-infos-container{
    margin-bottom: 10px;
    /* outline: 2px solid rgb(178,34,34); */
    border-radius: 4px;
}

.result-details-container .general-infos-container{
    margin-bottom: 10px;
    /* outline: 2px solid rgb(169,169,169); */
    border-radius: 4px;
}

.result-details-container .desc .MuiGrid2-container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
