.results-list .header h2 {    
    color: #1C3D5B;
    text-align: left;
}

.results-list .header-container .MuiDivider-root{
    background-color: #1C3D5B;
    height: 2px;
    margin-left: 0px;
}

.results-list .header{
    width: 100%;
    display: inline-flex;
    position: relative;
}

.results-list button{
    height: 35px;
    position: absolute;
    right: 0px;
    top: 25%;
    text-transform: none;
}






