.results-list .header h2 {    
    color: #1C3D5B;
    text-align: left;
}

.results-list .header .MuiDivider-root{
    background-color: #1C3D5B;
    height: 2px;
    margin-left: 0px;
}


.results-list .MuiAvatar-root{
    width: 25.5vw;
    border-radius: 25px;
    height: auto;
    margin-right: 20px;
}

.results-list .modele{
    color: #1C3D5B;
    font-weight: bold;
    margin-right: 10px;
}

.results-list .prix{
    color: gray;
    font-weight: 300;
}

.results-list .MuiListItemText-root .primary{
    display: inline-flex;
}


