body {
    margin: 0;
  }
 
  [id^=map] {
    width: 0;
    height: 0;
    background-color: transparent;
    display: none;
  }
 
  [id^=search-box] {
    padding-bottom: 20px;
    width: 100%;
  }
 
  [id=search-box2] {
    z-index: 1;
  }
 
  [id^=result] {
    padding-left: 20px;
    padding-top: 20px;
  }
 
  [class^=leaflet-locationiq-control] {
    width: 100%;
  }
 
  [class^=leaflet-locationiq-results] {
    top: 55px !important;
  }
 
  #textsup {
    text-align: left;
  }